__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

*.sqlite3
*.log
*.pot
db.sqlite3

.env
.env.*

.dockerignore
Dockerfile
Dockerfile_dev

.git
.gitignore

*.swp
*.swo
*.DS_Store
*.idea/
*.vscode/

.coverage
htmlcov/
*.pytest_cache/

venv/
.env/
.envrc
.venv/

uv.lock